@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.slider{
    display: flex;
    animation: scroll-left 10s linear infinite;
}

.slider img{
    height: 50px;
    margin: 0 3rem;
    filter:brightness(3) invert(1);
    transition: transform 0.3s ease ;
    flex-shrink: 0;
}

.slider img:hover{
    transform: scale(1.1);
}

.overlay {
  position: absolute;   /* absolute positioning */
  top: 0;               /* inset-0 top */
  right: 0;              /* inset-0 right */
  bottom: 0;             /* inset-0 bottom */
  left: 0;               /* inset-0 left */
  background-color: rgba(0, 0, 0, 0.4); /* bg-black with 40% opacity */
}